:root{
    --main-brand-color: #A61717;
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --third-color: #1f1f1f;
    --light-secondary-color: #b4b4b2;
    --text-color: #ffffff;
    --secondary-text-color: #B3B4B6;
    --third-text-color: #0d0d0d;

}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: var(--text-color);
}
h1{
    font-size: 90px;
    line-height: 115%;
}
.subheading{
    margin-top: 25px;
    color: var(--secondary-text-color);
    width: 750px;
}
@media(max-width: 800px){
    h1{
        font-size: 12vw;
        text-align: center;
    }
    .subheading{
        text-align: center;
        padding: 20px;
    }
}
header{
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
nav{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 175px;
}
.menu-links{
    flex: 1;
    text-align: right;
}
.menu-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.menu-links ul li a{
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    padding: 3;
}
.menu-links ul li::after{
    content: "";
    height: 2px;
    width: 0;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
}
.menu-links ul li:hover::after{
    width: 100%;
}
.header_text{
    width: 850px;
}
#fwIntro{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;  
    flex-wrap: wrap-reverse; 
}
.border{
    width: 750px;
    max-width: 80%;
}
.border img{
    height: 80%;
    max-width: calc(90% - 20px);
}
.filter-gray{
    filter: grayscale(120%);
}
.transparent-border{
    -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 100%);
    mask-image: linear-gradient(to bottom, transparent 5%, black 100%);
}
nav .material-symbols-rounded{
    display: none;
}

@media(max-width: 900px){
    .menu-links ul li{
        display: block;
    }
    .menu-links{
        position: absolute;
        background: var(--third-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    nav .material-symbols-rounded{
        display: block;
        color: var(--main-brand-color);
        margin: 10px;
        font-size: 40px;
        cursor: pointer;
    }
    .menu-links ul{
        padding: 10px;
    }
    #fwIntro{
        padding: 0px 0;
    }
    .border img{
        margin: 0 auto;
        display: block;
    }
}

#textabschnitt{
    padding: 50px 50px;
    background-color: var(--light-secondary-color);
    display: flexbox; 
    text-align: center; 
    justify-content: center; 
}
.textabschnitt{
    width: 750px;
}
#textabschnitt h3{
    color: var(--third-text-color)
}
#textabschnitt p{
    color: var(--third-text-color)
}
.trenner{
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 0 auto;
    background-color: var(--main-brand-color);
    width: 25%;
    height: 4px;
    position: center;
    display: block;
}
@media(max-width: 800px){
    #textabschnitt{
        padding: 50px;
    }    
    #textabschnitt h3{
        text-align: center;
        margin-bottom: 20px;
    }
    #textabschnitt p{
        text-align: center;
    }
}

#raster-container{
    padding: 70px 0;
    background-color: var(--secondary-color);
}
#raster-container h3{
    font-size: 25px;
    text-align: center;
}
#raster-container h2{
    text-align: center;
}
.flex-container{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 350px;
    max-width: 90%;
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.card *{
    text-align: center;
}
.card a{
    background-color: var(--main-brand-color);
    width: min-content;
    padding: 15px 40px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary-color);
    border: 4px solid var(--main-brand-color);
    transition: 150ms ease-in-out;
}
.card a:hover{
    background: transparent;
}
#bildabschnitt{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/pixabay-SIR22-2016-dortmund-1626916_1280.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 50px;
    display: flexbox; 
    text-align: center; 
    justify-content: center; 
}
#bildabschnitt h3{
    margin-bottom: 40px;
    text-align: center;
}
#bildabschnitt p{
    margin-bottom: 30px;
    text-align: center;
}

.footer{
    width: 80%;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20%;
    gap: 40px;
    align-items: center;
}
.footer-column {
    flex: 1;
    text-align: left;
    margin-bottom: 30px;
}
.footer-column h3{
    color: var(--main-brand-color);
}
.footer-column p{
    color: var(--secondary-text-color);
}
@media(max-width: 800px){
    .footer-column{
        flex-basis: 100%;
    }
}


/* Jugendfeuerwehr */


#bannerJugend{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/pixabay-sphaeroid-2018.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 200px;
    display: flexbox; 
    text-align: center; 
    justify-content: center; 
}
#bannerJugend h1{
    margin: 40px;
    text-align: center;
}
.bannerJugendUeberschrift{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}
#bannerJugend p{
    margin-bottom: 30px;
    text-align: center;
}

#jugendText{
    padding: 50px 50px;
    background-color: var(--third-color);
    display: flexbox; 
    text-align: center; 
    justify-content: center; 
}
.jugendText{
    width: 750px;
}
#jugendText p{
    margin: 40px;
    color: var(--secondary-text-color)   
    
}
#jugendText a{
    background-color: var(--main-brand-color);
    width: min-content;
    padding: 15px 40px;
    border-radius: 20px;
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary-color);
    border: 4px solid var(--main-brand-color);
    transition: 150ms ease-in-out;
}
#jugendText a:hover{
    background: transparent;
}

@media(max-width: 800px){
    #jugendText p{
        margin: 0 0 50px 0;
    }
    #bannerJugend h1{
        text-align: center;
        font-size: 8vw;
        left: 40%;
    }
    #bannerJugend{
        display: block;
    }
}

/* Unsere Wache */

#wacheIntro{
    padding: 50px 50px;
    display: flexbox; 
    text-align: center; 
    justify-content: center; 
}
.wacheIntro{
    width: 750px;
}
#wacheIntro p{
    margin: 40px;
    color: var(--secondary-text-color)
    
}
.bildergalerie{
    text-align: center;
}
.gallery{
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense;
}
.gallery .img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.gallery .img:first-child{
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery .img:nth-child(2n+3){
    grid-row-start: span 2;
}
.gallery .img:nth-child(4n+5){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery .img:nth-child(6n+7){
    grid-row-start: span 2;
}
.gallery .img:nth-child(8n+9){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery .img:nth-child(10n+11){
    grid-row-start: span 2;
}
.gallery .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5) grayscale(100%);
    transition: 0.3s ease-in-out;
}
.gallery .img:hover img{
    filter: brightness(1) grayscale(0%);
}

@media(max-width: 800px){
    #wacheIntro p{
        margin: 50px 0 50px 0;
    }
    .gallery{
        display: grid;
        grid-template-columns: auto auto;
    }
}


/* FAQs */


main{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(images/pexels-markus-spiske-2019-3058827.jpg);
    background-position: center;
    background-size: cover;
}
#faqIntro{
    padding: 50px 50px;
    display: flexbox; 
    text-align: center; 
    justify-content: center;
}
faq{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item{
    background-color: var(--third-color);
    border-radius: 1%;
    margin-bottom: 5%;
    padding: 5%;
}
.accordion-link{
    text-decoration: none;
    color: var(--light-secondary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.accordion-link span{
    color: var(--primary-color);
    padding: .5rem;
}
.accordion-link .material-symbols-rounded{
    display: e;
    color: var(--main-brand-color);
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: var(--secondary-color);
    transition: max-height 650ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: var(--main-brand-color);
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}
.answer p{
    padding: 5% ;
}
.accordion-item:target .answer{
    max-height: 20%;
}
